.slick-dots {
	top: 25px;
    width: 30%;
    height: 100%;
	transform: translate(70%, -5%) rotate(-90deg);
}

.slick-dots li {
	width: 16px;
	height: 10px;
	background: #fff;
}

.slick-dots li.slick-active {
	background: orange;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}

.slick-dots li button:before {
	display: none;
}